<div class="product-list">
    <h2>Productos</h2>
    
    <div class="card" style="width: 18rem" *ngFor="let product of products">
        <img 
        src="/assets/{{ product?.image}}" 
        alt="{{ product?.name }}" 
        class="thumbnail"
        width="250px" />
        <h3>
            <a [title]="'detalles'" [routerLink]="['/products', product.id]">
                {{ product.name }}
            </a>
        </h3>
    
        <button type="button" class="btn btn-primary" style="width: 110px" (click)="share()">
            Compartir
        </button>
        <app-product-alert [product]="product" (notify)="onNotify()">
        </app-product-alert>
    </div>
</div>